body { 
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif ;
  }

.jumbotron {
    background-image: url("bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: rgb(80, 78, 216);
  }